~/__pycache__/
__pycache__/controllerHandler.cpython-310.pyc
__pycache__/fileHandler.cpython-310.pyc
__pycache__/physicsHandler.cpython-310.pyc
__pycache__/uiHandler.cpython-310.pyc
installer/temp
__pycache__